*.test
*.prof
bin/*
*.lock
*.txt
*.log
.env
*.mp4
*.mpg
!testdata/*.mp4
cmd/patch-ytdlp/tmp/*
cmd/patch-ytdlp/*.json
_examples/bubble-dl/bubble-dl
_examples/simple/simple
.crush/
.cursor/
*.json
!.vscode/*.json
!json-schema.json
!_examples/http-server/example-request-body.json
!_examples/http-server/request-schema.json
